<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/mycss.css}">
<title>Insert title here</title>
</head>
<body>
<h1>This is the Guest page</h1>

<div sec:authorize="isAuthenticated()">
	    
		Guest's Name: <span sec:authentication="name"></span>
		 <br>
		 Roles:<span sec:authentication="principal.authorities"><br><br>
		 </span> 
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout"/>
		</form>
	</div>
<br>
Go to the <a th:href="@{/}">Main Page</a><br>
Go to the <a th:href="@{/viewRoles}">View Contacts by Role List</a>
</body>
</html>