<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/mycss.css}"> 
<title>Insert title here</title>
</head>
<body>
<h1>This is the main Administrator page</h1>

<div sec:authorize="isAuthenticated()">
	    
		Administrator's Name: <span sec:authentication="name"></span>
		 <br>
		 Roles:<span sec:authentication="principal.authorities"><br><br>
		 </span> 
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="Logout"/>
		</form>
	</div>
<br>
Go to the <a th:href="@{/}">Main Page</a><br>

<h1>Registration</h1>
	<form th:action="@{/register}" method="post">
	Name: <input type="text" name="name"/><br><br>
	Password: <input type="password" name="password" /><br><br>
	
	
    <input type="checkbox" name="admin" > 
    <label class="">Administrator
    </label><br>  
      
    <input type="checkbox" name="guest" > 
    <label class="">Guest
    </label><br>  
     
    <input type="checkbox" name="member" > 
    <label class="">Member
    </label><br><br>

	<input type="submit" value="Register" /><br>
	</form>
	Go  <a th:href="@{/viewRoles}">View Roles</a><br><br>
</body>
</html> 
