<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/mycss.css}" >
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div id="newContact">
<h1>Contact List</h1>
	<table>
		<tr>
			<th>Name</th>
			<th>Phone Number</th>
			<th>Address</th>
			<th>Email</th>
			<th>Role</th>
		</tr>
		<tr th:each="c:${contacts}">
		<td th:text="${c.name}"></td>
		<td th:text="${c.phone}"></td>
		<td th:text="${c.address}"></td>
		<td th:text="${c.email}"></td>
		<td th:text="${c.role}"></td>
		<td><a href="" th:href=@{/edit/{id}(id=${c.id})}>EDIT</a></td>
		<td><a href="" th:href=@{/delete/{id}(id=${c.id})}>DELETE</a></td>
		</tr>
	</table>
	<a href="/add" th:href="@{/guest}" >Go back to Guest</a><br>
	Go back to the <a th:href="@{/admin}">Administrator Page</a><br><br>
	</div>
</body>
</html>